<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avjindersinghsekhon.minimaltodo" >

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>

    <!--We set theme to DarkTheme because when the app opens it shows
    a white screen if our theme here is LightTheme. The screen is shown for
    about 1 second, but it's jarring if users have set Night Mode to true.
    -->
    <application
        android:name=".Analytics.AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomStyle.DarkTheme"
        >
        <activity
            android:name=".Main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddToDo.AddToDoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Main.MainActivity"
            />

        <activity android:name=".About.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Main.MainActivity"
            />

        <activity android:name=".Reminder.ReminderActivity"
            android:label="@string/app_name"
            />

        <service android:name=".Utility.TodoNotificationService"
            />
        <service android:name=".Utility.DeleteNotificationService"
            />
        <activity android:name=".Settings.SettingsActivity"
            android:parentActivityName=".Main.MainActivity"

            />

    </application>


</manifest>
